 .ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
ol {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}
.search_result{
background: white;
max-width: fit-content;
margin:auto;
}
#search_result_not_found{
  text-align: center;
}
ol>li{
  width: 200px;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}